// Colors
//  Blues
$blue: #1e468b;
$lightBlue: #c8d8e3;

//  Grays
$darkGray: #636363;
$medGray: #d0d0d0;
$lightGray: #f2f2f2;
$white: #ffffff;

// Font Weights
$light: 300;
$semiBold: 600;

// Media Query Break Points
$tablet-width: 768px;
$desktop-width: 1024px;